@font-face {
  font-family: "oswald";
  src: url(../fonts/Oswald/static/Oswald-Regular.ttf);
}

body {
  background: linear-gradient(#000000c7, #000000c7),
    url(../img/space-1164579_1280.png);
  font-size: 18px;
  line-height: 24px;
  font-family: "oswald";

  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
header ul {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 20;
}
header ul li {
  padding: 6px 24px;
}
header ul li button {
  padding: 1em;
  width: 100px;

  border: none;
  box-shadow: 3px 3px 9px #ffffff82;
  text-transform: uppercase;
}
header ul li button:hover {
  background-color: #1a8dda;
  color: white;
  cursor: pointer;
}

h1 {
  color: #1a8dda;
  font-size: 2em;
  line-height: 2em;
  text-shadow: 3px 3px 15px #1a8dda83;
  width: 70%;
  margin: auto;
  letter-spacing: 0.1em;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  zoom: 2;
  animation: titre;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
}

img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) scale(1.5);
  animation: image;
  animation-duration: 10s;
  animation-delay: 6s;
  opacity: 0;
  transform: translateZ(30%);
}

#credits {
  transform: perspective(25em) rotateX(50deg) translate3D(0, 0em, 12em);
  animation: defilement;
  animation-duration: 90s;
  animation-delay: 1s;
  opacity: 0;
}

#credits p {
  color: rgb(255, 196, 0);
  font-size: 1.1em;
  line-height: 1.1em;
  width: 16%;
  margin: auto;
  text-align: justify;
  padding-bottom: 1.5em;
}

@keyframes titre {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes image {
  0% {
    opacity: 1;
    transform: translate(50%, -50%) scale(1.5);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0.1);
  }
}

@keyframes defilement {
  0% {
    transform: perspective(25em) rotateX(50deg) translate3D(0, 40em, 9em);
  }
  33% {
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  100% {
    transform: perspective(25em) rotateX(50deg) translate3D(0, -24em, 9em);
    opacity: 0;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 15; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgb(199, 199, 199); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 60%;
  height: 50%;
  box-shadow: 3px 3px 15px rgba(70, 70, 70, 0.623);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 3em;
  font-weight: bold;
  padding: 0 12px 12px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content textarea {
  width: 100%;
  height: 100px;
  margin: auto;
  resize: none;
}

#change {
  padding: 1em 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  border: none;
  box-shadow: 3px 3px 9px #ffffff82;
}
#change:hover {
  background-color: #1a8dda;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 0.6em;
    width: 80%;
  }
  @keyframes image {
    0% {
      opacity: 1;
      transform: translate(50%, -50%) scale(1.1);
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(50%, -50%) scale(0.1);
    }
  }

  #credits p {
    font-size: 0.5em;
    line-height: 1em;
    width: 20%;
    text-align: justify;
    padding-bottom: 1.5em;
  }
}
